body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(150deg, #ffe5ec, #ff8fab);
  height: 100vh;
}

.main-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main-container form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form input,
label {
  margin-top: 4vh;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #43a348;
  transform: scale(1.05);
}

